.navbar__container {
  background-color: white;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  margin-inline: 0;
  padding-inline: 10%;
}

.navbar__container > :first-child {
  color: var(--primary-color);
}
